

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a:link{
    text-decoration: none;
    color:rgba(231, 222, 222, 0.925);
}

a:hover{
    color: rgb(0, 150, 199);
}

video {
    position:fixed;
    top: 50%;
    left: 50%;
    display: flex;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

    #center{
        margin-left:100px;
        margin-top: 6em;
        color: rgba(255, 255, 255, 0.74);
    }
    
    #icon-alice{
        width:70px;
        height:60px;
        position:absolute;
        top:5px;
        right:20px;
    }
    
    h2{
        font-size: 14px;
        font-family: Space Grotesk;
        position:absolute;
        top:10px;
        left:10px;
        color:rgb(0, 119, 182);
        text-shadow: 2px 2px 2px rgb(245, 225, 42);
    }
    
    h1{
        font-size: 22px;
        font-family: Space Grotesk;
        text-shadow: 5px 5px 5px rgb(0, 119, 182);
        margin-left: px;
    }
    
    #book{
        margin-top:10px;
        padding: 5px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.582);
        height:30px;
        font-size: 12px;
    }
    
    #search{
            display: inline-block;
            border-radius: 5px;
            background-color: #1e74f4bd;
            border: none;
            color: white;
            text-align: center;
            font-size: 13px;
            font-family:Space Grotesk;
            width: 80px;
            height:32px;
            transition: all 0.5s;
            cursor: pointer;
            margin-left:38px;
          }
          
    #search span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s; 
    }
          
    #search span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
          
    #search:hover span {
        padding-right: 25px;
    }
          
    #search:hover span:after {
        opacity: 1;
        right: 0;
    }
    
    #center2 {
        font-size: 18px;
        font-family:  Space Grotesk ;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:30px;
        margin-left:-20px;
        padding: 20px 10px 10px 0px;
    }
    
    footer{
        margin-top:250px;
        margin-left:20px;
        height:30px;
    }
    
    #samueletoro{
        color: rgba(31, 216, 130, 0.753);
        font-family:Space Grotesk;
        font-size: 12px;
    }


/* Extra small devices (phones, 480px and down) */
@media all and (min-width: 480px){

    #center{
        margin-left:135px;
        margin-top: 6em;
        color: rgba(255, 255, 255, 0.74);
    }
    
    #icon-alice{
        width:70px;
        height:60px;
        position:absolute;
        top:5px;
        right:20px;
    }
    
    h2{
        font-size: 16px;
        font-family: Space Grotesk;
        position:absolute;
        top:10px;
        left:10px;
        color:rgb(0, 119, 182);
        text-shadow: 2px 2px 2px rgb(245, 225, 42);
    }
    
    h1{
        font-size: 25px;
        font-family: Space Grotesk;
        text-shadow: 5px 5px 5px rgb(0, 119, 182);
    }
    
    #book{
        margin-top:10px;
        padding: 5px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.582);
        height:30px;
        font-size: 14px;
    }
    
    #search{
            display: inline-block;
            border-radius: 5px;
            background-color: #1e74f4bd;
            border: none;
            color: white;
            text-align: center;
            font-size: 13px;
            font-family:Space Grotesk;
            width: 90px;
            height:35px;
            transition: all 0.5s;
            cursor: pointer;
            margin-left:45px;
          }
          
    #search span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s; 
    }
          
    #search span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
          
    #search:hover span {
        padding-right: 25px;
    }
          
    #search:hover span:after {
        opacity: 1;
        right: 0;
    }
    
    #center2 {
        font-size: 20px;
        font-family:  Space Grotesk ;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:30px;
        margin-left:-20px;
        padding: 20px 10px 10px 0px;
    }
    
    footer{
        margin-top:250px;
        margin-left:20px;
        height:30px;
    }
    
    #samueletoro{
        color: rgba(31, 216, 130, 0.753);
        font-family:Space Grotesk;
        font-size: 15px;
    }
}
    

/* Medium devices (landscape tablets, 767px and up) */
@media all and (min-width: 767px) {

    #center{
        margin-left:280px;
        margin-top: 6em;
    }
    
    #icon-alice{
        width:90px;
        height:80px;
        position:absolute;
        top:10px;
        right:30px;
    }
    
    h2{
        font-size: 18px;
        position:absolute;
        top:10px;
        left:20px;
    }
    
    h1{
        font-size: 32px;
        font-family: Space Grotesk;
        text-shadow: 5px 5px 5px rgb(0, 119, 182);
        margin-left:-20px;
    }
    
    #book{
        margin-top:10px;
        padding: 5px;
        border-radius: 10px;
        height:34px;
        font-size: 14px;
    }
    
    #search{
            display: inline-block;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 13px;
            width: 90px;
            height:35px;
            transition: all 0.5s;
            cursor: pointer;
            margin-left:45px;
          }
          
    #search span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s; 
    }
          
    #search span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
          
    #search:hover span {
        padding-right: 25px;
    }
          
    #search:hover span:after {
        opacity: 1;
        right: 0;
    }
    
    #center2 {
        font-size: 20px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:60px;
        margin-left:-240px;
        padding: 20px 10px 10px 0px;
    }
    
    footer{
        margin-top:250px;
        margin-left:20px;
        height:30px;
    }
    
    #samueletoro{
        font-size: 15px;
    }
}

/* Large devices (laptops/desktops, 980px and up) */
@media all and (min-width: 980px) {

    #center{
        margin-left:380px;
        margin-top: 6em;
    }
    
    #icon-alice{
        width:100px;
        height:90px;
        position:absolute;
        top:10px;
        right:30px;
    }
    
    h2{
        font-size: 19px;
        position:absolute;
        top:10px;
        left:20px;
        text-shadow: 2px 2px 2px rgb(245, 225, 42);
    }
    
    h1{
        font-size: 32px;
        text-shadow: 5px 5px 5px rgb(0, 119, 182);
        margin-left:-20px;
    }
    
    #book{
        margin-top:10px;
        padding: 5px;
        border-radius: 10px;
        height:35px;
        font-size: 14px;
    }
    
    #search{
            display: inline-block;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
            width: 95px;
            height:35px;
            transition: all 0.5s;
            cursor: pointer;
            margin-left:45px;
          }
          
    #search span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s; 
    }
          
    #search span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
          
    #search:hover span {
        padding-right: 25px;
    }
          
    #search:hover span:after {
        opacity: 1;
        right: 0;
    }
    
    #center2 {
        font-size: 24px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:60px;
        margin-left:-300px;
        padding: 20px 10px 10px 0px;
    }
    
    footer{
        margin-top:250px;
        margin-left:20px;
        height:30px;
    }
    
    #samueletoro{
        font-size: 15px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media all and (min-width: 1200px) {

    #center{
        margin-left:550px;
        margin-top: 6em;
    }
    
    #icon-alice{
        width:150px;
        height:140px;
        position:absolute;
        top:7px;
        right:60px;
    }
    
    h2{
        font-size: 22px;
        position:absolute;
        top:10px;
        left:20px;
        text-shadow: 2px 2px 2px rgb(245, 225, 42);
    }
    
    h1{
        font-size: 42px;
        text-shadow: 5px 5px 5px rgb(0, 119, 182);
        margin-left:-35px;
    }
    
    #book{
        margin-top:10px;
        padding: 5px;
        border-radius: 10px;
        height:40px;
        font-size: 16px;
    }
    
    #search{
            display: inline-block;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 15px;
            width: 100px;
            height:40px;
            transition: all 0.5s;
            cursor: pointer;
            margin-left:55px;
          }
          
    #search span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s; 
    }
          
    #search span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
          
    #search:hover span {
        padding-right: 25px;
    }
          
    #search:hover span:after {
        opacity: 1;
        right: 0;
    }
    
    #center2 {
        font-size: 26px;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:60px;
        margin-left:-450px;
        padding: 20px 10px 10px 0px;
    }
    
    footer{
        margin-top:250px;
        margin-left:30px;
        height:30px;
    }
    
    #samueletoro{
        font-size: 15px;
    }
}
